<h1>ブログ詳細</h1>

<div class="container">
  <h3>タイトル</h3>
  <p><%= @blog.title %></p>
</div>

<div class="container">
  <h3>投稿内容</h3>
  <p><%= @blog.content %></p>
</div>

<% if @blog.user = current_user %>
  <%= link_to 'ブログを編集する', edit_blog_path(@blog), class: 'btn btn-primary' %>
<% end %>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment } %>

<%= link_to '一覧へ戻る', blogs_path, class: 'btn btn-default' %>
