<h1>Editing Comment</h1>

<%= form_for(@comment, url: blog_comment_path(@comment.blog, @comment)) do |f| %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :blog_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
