<nav class="navbar navbar-default">
  <div class="container-fulid">
    <div class="navbar-header">
      <%= link_to 'Achieve', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'ブログ', blogs_path %></li>
        <li><%= link_to 'Q＆A', questions_path %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'お問い合わせ', contacts_new_path %></li>
        <li><%= link_to '問い合わせ一覧', contacts_receive_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
